<!DOCTYPE html>
<html>
    <head>
        <link bootstrap here>
        <title>Rock Paper Scissors: Player 1 Select</title>
    </head>
    <body>
        <h2>Test Your Might</h2>

        <!-- 3 buttons here, each link to player 2 -->

        <form action="/p2select" method="post">
            <div class="container">
                <button id="rock" type='submit' value="input1" class='btn btn-success'>Rock</button>
                <button id="paper" type='submit' value="input1" class='btn btn-success'>Paper</button>
                <button id="scissor" type='submit' value="input1" class='btn btn-success'>Scissor</button>
            </div>
        </form>
    </body>
</html>
