<!DOCTYPE html>
<html>
    <head>
        <link bootstrap here>
        <title>Rock Paper Scissors</title>
    </head>
    <body>
        <h2>Prepare to Fight</h2>

        <!-- 1 button here, links to results page -->

        <form action="/results" method="post">
            <div class="container">
                <button type='submit' class='btn btn-success'>Fight</button>
            </div>
        </form>
    </body>
</html>
