<!DOCTYPE html>
<html>
    <head>
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
        <link rel='stylesheet' href='/../css/styles.css'>
        <title>Rock Paper Scissors: Results</title>
    </head>
    <body>
        <div class="col-md-4 col-md-offset-3">
            <div class="text-center">
            <h2>Outcome:</h2>

                <p>{{ newwinner }} wins!<p>

            <h3>Current score:</h3>
            <p><strong>Player 1:</strong> {{ p1wins }} wins</p>
            <p><strong>Player 2:</strong> {{ p2wins }} wins</p>

            <!-- This array uses the array_key originally defined on /p1select to give a little info
                    about the country of origin. -->

            {% set description = (["You played the American game: Rock-Paper-Scissors.",
                            "You played the (very) British game: Ro-Sham-Bo.",
                            "You played the Chinese game: Poisonous centipede-Frog-Snake.",
                            "You played the Korean game: Hunter-Villager-Fox.",
                            "You played the United Federation of Planets game: Nimoy-Shatner-Takai.",
                            "You played the English game: ick-ack-ock.",
                            "You played the Victorian game: ching-chang-walla.",
                            "You played the Canadian game: Hockey puck-Maple syrup-Caribou."]) %}

        <br>
            <p>{{ description[array_key] }}</p>
        <br>
        </div>

            <div class="text-center">
            <!-- 2 buttons here, one links to player 1 (rematch) -->
            <!--                 one links to start   (new fight)-->
            <form action="/p1select">
                <div class="container">
                    <button type='submit' class='btn btn-primary'>Rematch</button>
                </div>
            </form>
            <br>
            <form action="/">
                <div class="container">
                    <button type='submit' class='btn btn-info'>New Game</button>
                </div>
            </div>
            </form>
        </div>
    </body>
</html>
