<!DOCTYPE html>
<html>
    <head>
        <link to bootstrap here>
        <title>Rock Paper Scissors</title>
    </head>
    <body>
        <h1>this is the stuff about rock paper scissors culturally around the world</h1>
        <p>ape wikipedia's text here</p>

        <button><a href="/p1select">Start</a></button>
    </body>
</html>
