<!DOCTYPE html>
<html>
    <head>
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
        <title>Rock Paper Scissors</title>
    </head>
    <body>
        <div class="container">
            <h1>Rock Paper Scissors</h1>
                <p>Rock-paper-scissors is a zero sum hand game usually played between two players where each player simultaneously forms one of three shapes with an outstretched hand. </p>
                <p>Many variations on this game exist globally.</p>
            <button class="btn btn-info"><a href="/p1select">Start</a></button>
        </div>
    </body>
</html>
